.main-layout {
  min-height: 100vh;
  overflow: hidden;
}
.main-layout .ant-layout-content {
  margin-top: 64px;
  margin-left: 200px;
  padding: 10px;
  transition: all 300ms;
}
.main-layout.collapsed .ant-layout-content {
  margin-left: 64px;
}
.main-layout.collapsed.mobile .ant-layout-content {
  margin-left: 0px;
}
.header {
  position: fixed; 
  width: calc(100vw - 200px);
  margin-left: 200px;
  padding-left: 10px;
  background: #108ee9;
  transition: all 400ms;
  z-index: 1000;
  display: flex;
  align-items: center;
}
.header .trigger {
  font-size: 1.4em;
  color: #dddddd;
  transition: all 200ms;
}
.header .trigger:hover {
  font-size: 1.5em;
  font-weight: 600;
  color: #FFFFFF;
}
.header .page-title {
  margin-left: 10px;
  font-size: 2rem;
  color: #fff;
  font-weight: 200;
}
.main-layout.collapsed .header {
  width: calc(100vw - 64px);
  margin-left: 64px;
  transition: all 200ms;
}
.logo {
  /*background-color: #333;*/
  width: 60%;
  height: 50px;
  margin: 12px auto;
  border-radius: 5px;
  color: #DDD;
  font-size: 2.4em;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.logo span {
  letter-spacing: 1px;
  font-weight: 100;
}
.logo span.first {
  color: #FFF;
  font-size: 3.8rem;
  line-height: 0.8em;
  flex: 0;
  margin-right: -2px;
  font-weight: 400;
}
.ant-layout-sider {
  position: fixed;
  height: 100vh;
  z-index: 2000;
}
.ant-layout-sider-collapsed .logo {
  width: 40%;
}
.ant-layout-sider-collapsed .logo span {
  display: none;
}
.ant-layout-sider-collapsed .logo span.first {
  display: block;
}
.ant-menu-submenu-title span { 
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #999 !important;
  font-weight: 200;
}
.ant-btn-group {
  margin: 5px 4px 0;
}
.editor {
  background: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  min-height: 5rem;
  max-height: 10rem;
  line-height: 1rem;
  overflow: auto;
}
.editor:hover {
  border-color: #49a9ee;
}
.editor:focus {
  border-color: #49a9ee;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(16,142,233,.2);
}
.editor p {
  margin: 0 0 5px;
}
.editor h1,
.editor h2,
.editor h3,
.editor h4,
.editor h5,
.editor h6 {
  margin: 0 0 5px;
}
.editor blockquote {
  padding: 5px 10px;
  border-left: 5px solid #CCCCCC;
}
.editor ul, ol {
  padding: 5px 15px;
}
.editor ol {
  list-style-type: decimal;
}
.editor ul {
  list-style-type: disc;
}